*{
  margin: 0;
  /* font-family: sans-serif; */
}
.App {
  /* text-align: center; */
  border:solid black;
  height:350vh;
  margin:2em;
  display:flex;
  flex-direction: column;
}

.titlePage{
  /* border: solid blue; */
  display: flex;
  color: tomato;
  font-size: 8em;
  font-weight: 100;
  height: 250px;
  padding-top: 0.6em;
  margin-left: 1.2em;
}

.slogan{
  /* border: solid black; */
  font-size: 4em;
  font-weight: 100;
  height: 15vh;
  margin-left: 2.4em;
}

.unorderList{
  list-style-type: none;
}

.listOne{
  /* border: solid blue; */
  display: inline-block;
  text-decoration: underline;
  margin: 0em 3em 0em;
  font-size: 1.8em;
}

.categories{
  /* border: solid red; */
  color: rgb(156, 156, 156);
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  padding: 1em;
  padding-bottom: 4em;
}

.date{
  /* border: solid black; */
  color: lightgray;
  font-size: 3em;
  padding: 0.5em;
  padding-left: 160px;
}

.imgTitle{
  /* border: solid red; */
  font-size: 4em;
  word-spacing: 10px;
  padding-left: 160px;
}

.imgOne{
  /* border: solid green; */
  display: flex;
  justify-content: center;
}

.imageOne{
  width: 1500px;
  margin: 10px;

}

.bodyParahgraph{
  /* border: solid green; */
  margin: 1em;
}
.paraOne{
  font-size: 1.5em;
  color: rgb(143, 143, 143);
  width: 1500px;
  padding-left: 150px;
}

.bigC{
  /* border: solid black; */
  font-size: 6em;
  float: left; 
  margin-right: 10px; 
  color: rgb(143, 143, 143);
}

.continues{
  /* border: solid blue; */
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  padding: 0.5em;
  color: tomato;
  font-size: 2em;
  font-weight: bolder;
}

.lineDivider{
  border-top: 3px solid #bbb;
}

.dateTwo{
    /* border: solid black; */
    color: lightgray;
    font-size: 3em;
    padding: 0.5em;
    padding-left: 160px;
}

.imgTitleTwo{
    /* border: solid red; */
    font-size: 4em;
    word-spacing: 10px;
    padding-left: 160px;
}

.imgTwo{
    /* border: solid green; */
    display: flex;
    justify-content: center;
}

.imageTwo{
  width: 1500px;
  margin: 10px;
}

.bodyParagraphTwo{
  /* border: solid green; */
  margin: 1em;
}

.paraTwo{
  font-size: 1.5em;
  color: rgb(143, 143, 143);
  width: 1500px;
  padding-left: 150px;
}

.bigS{
  /* border: solid black; */
  font-size: 6em;
  float: left; 
  margin-right: 10px; 
  color: rgb(143, 143, 143);
}

.continuesTwo{
  /* border: solid blue; */
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  padding: 0.5em;
  color: tomato;
  font-size: 2em;
  font-weight: bolder;
}

.lineDividerTwo{
  border-top: 3px solid #bbb;
}

.footer{
  /* border: solid red; */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  margin: 1em;
  padding: 1em;
  color: tomato;
  font-size: 1.5em;
  /* font-weight: ; */
}

.unorderListTwo{
  list-style: none;
}

.listTwo{
  /* border: solid blue; */
  display: inline-block;
  margin: 0em 2.6em 0em;
}

.subFooter{
  color: rgb(143, 143, 143);
  margin: 1em;
  padding-left: 4.7em;
  font-size: 1.5em
}
/* ////////////////////////// */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
