.App {
  /* text-align: center; */
  border:solid black;
  height:500vh;
  margin:2em;
  display:flex;
  flex-direction: column;
}

.unorderList{
  list-style: none;
}

.listOne{
  border: solid blue;
  display: inline-block;
  margin: 0em 7em 0em;
}

.categories{
  border: solid red;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}

.bodyParahgraph{
  border: solid green;
  margin: 1em;
}
.paraOne{
  font-size: 1.5em;
}

.bigC{
  border: solid black;
  font-size: 6em;
  float: left; 
  margin-right: 10px; 
}

.continues{
  border: solid blue;
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  padding: 0.5em;
}

.lineDivider{
  border-top: 3px solid #bbb;
}

.bodyParagraphTwo{
  border: solid green;
  margin: 1em;
}

.paraTwo{
  font-size: 1.5em;
}

.bigS{
  border: solid black;
  font-size: 6em;
  float: left; 
  margin-right: 10px; 
}

.continuesTwo{
  border: solid blue;
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  padding: 0.5em;
}

.lineDividerTwo{
  border-top: 3px solid #bbb;
}

.footer{
  border: solid red;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  margin: 1em;
}

.unorderListTwo{
  list-style: none;
}

.listTwo{
  border: solid blue;
  display: inline-block;
  margin: 0em 4em 0em;
}
/* ////////////////////////// */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
